* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/bg-tic-tac-toe.jpg);
  width : 100%;
  height: 100%;
}
.container {
  background-color: #fff;
  opacity: 0.6;
  border: 2px solid #000;
  width: 75%;
  height: auto;
  position: absolute;
  left: 0;
  top: 6%;
  right: 0;
  padding: 2%;
  margin: 0 auto;
}
img {
  width: 100%;
  height: auto;
}
h1 {
  text-align: center;
  color: #007fff;
  margin-bottom: 26px;
  font-family: 'Arial';
}
table {
  border: 2px solid #000;
  border-collapse: collapse;
  width: 400px;
  height: 400px;
}
td {
  text-align: center;
  border: 2px solid #000;
}
.player1 {
  background-color: #545454;
  background-image: url(../img/croix.png);
  background-repeat: no-repeat;
  background-position: center;
}
.player2 {
  background-color: #545454;
  background-image: url(../img/rond.png);
  background-repeat: no-repeat;
  background-position: center;
}
.hidden {
  visibility: hidden;
}
#bingo {
    background-color: red;
    border: 5px solid #000;
    font-family: 'Arial';
    font-weight: bold;
    color: #fff;
    opacity: 0.9;
    width: 33%;
    font-size: 24px;
    padding: 40px 50px;
    text-align: center;
    position: relative;
    top: 276px;
}
#player {
    color: green;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    margin-top: 20px;
}
/**********************************ANIMATION CONFETTIS*/
.confetti {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
}
